<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UpdateCustomerProfileFilter</filter-name>
        <filter-class>filters.UpdateCustomerProfileFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginCustomerFilter</filter-name>
        <filter-class>filters.LoginCustomerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginMechanicFilter</filter-name>
        <filter-class>filters.LoginMechanicFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UpdateTicketDetailFilter</filter-name>
        <filter-class>filters.UpdateTicketDetailFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UpdateServiceFilter</filter-name>
        <filter-class>filters.UpdateServiceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UpdateServiceFilter</filter-name>
        <servlet-name>UpdateServiceServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UpdateTicketDetailFilter</filter-name>
        <servlet-name>UpdateServiceTicketServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginMechanicFilter</filter-name>
        <servlet-name>LoginMechanicServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginCustomerFilter</filter-name>
        <servlet-name>LoginCustomerServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UpdateCustomerProfileFilter</filter-name>
        <servlet-name>UpdateCustomerProfileServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>controllers.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustomerServlet</servlet-name>
        <servlet-class>controllers.LoginCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerProfileServlet</servlet-name>
        <servlet-class>controllers.UpdateCustomerProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSaleServlet</servlet-name>
        <servlet-class>controllers.LoginSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvoiceServlet_Sale</servlet-name>
        <servlet-class>controllers.InvoiceServlet_Sale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginMechanicServlet</servlet-name>
        <servlet-class>controllers.LoginMechanicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutMechanic</servlet-name>
        <servlet-class>controllers.LogoutMechanic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceTicketListServlet</servlet-name>
        <servlet-class>controllers.ServiceTicketListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceTicketDetailServlet</servlet-name>
        <servlet-class>controllers.ServiceTicketDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutSalesServlet</servlet-name>
        <servlet-class>controllers.LogoutSalesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceTicketServlet</servlet-name>
        <servlet-class>controllers.UpdateServiceTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutCustomerServlet</servlet-name>
        <servlet-class>controllers.LogoutCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesListServlet</servlet-name>
        <servlet-class>controllers.ServicesListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceServlet</servlet-name>
        <servlet-class>controllers.UpdateServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDeleteServlet</servlet-name>
        <servlet-class>controllers.ServiceDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceMechanicDeleteServlet</servlet-name>
        <servlet-class>controllers.ServiceMechanicDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadCustomerServlet</servlet-name>
        <servlet-class>controllers.ReadCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <servlet-class>controllers.CreateCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomerServlet</servlet-name>
        <url-pattern>/LoginCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerProfileServlet</servlet-name>
        <url-pattern>/UpdateCustomerProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceServlet_Sale</servlet-name>
        <url-pattern>/InvoiceServlet_Sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginMechanicServlet</servlet-name>
        <url-pattern>/LoginMechanicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutMechanic</servlet-name>
        <url-pattern>/LogoutMechanic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceTicketListServlet</servlet-name>
        <url-pattern>/ServiceTicketListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceTicketDetailServlet</servlet-name>
        <url-pattern>/ServiceTicketDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceTicketServlet</servlet-name>
        <url-pattern>/UpdateServiceTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSaleServlet</servlet-name>
        <url-pattern>/LoginSaleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutSalesServlet</servlet-name>
        <url-pattern>/LogoutSalesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutCustomerServlet</servlet-name>
        <url-pattern>/LogoutCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesListServlet</servlet-name>
        <url-pattern>/ServicesListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceServlet</servlet-name>
        <url-pattern>/UpdateServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDeleteServlet</servlet-name>
        <url-pattern>/ServiceDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceMechanicDeleteServlet</servlet-name>
        <url-pattern>/ServiceMechanicDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadCustomerServlet</servlet-name>
        <url-pattern>/ReadCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <url-pattern>/CreateCustomerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainServlet</welcome-file>
    </welcome-file-list>
</web-app>
